.table-btn-edit{
    position: relative;
    top: 10px;
    background-color: blue;
    color: white;
    /* padding-top: 20px; */
    left: 150px;
    border-style: none;
    outline: none;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 3px;
}
.table-btn-update{
    position: relative;
    top: 10px;
    background-color: orange;
    color: white;
    /* padding-top: 20px; */
    left: 150px;
    border-style: none;
    outline: none;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 3px;
}